.al-card {
  width: 450px;
  height: 300px;
  font-size: 40px;
  owerflow: auto;
  margin: 2px;
}
.al-card-content {
  font-size: 25px;
}
.al-card-subtitle {
  font-size: 20px;
}
.al-card-actions {
  margin-top: 10%;
}
