
.al-card-content {
  font-size: 25px;
}
.al-card-subtitle {
  font-size: 20px;
}
.al-card-actions {
  margin-top: 7%;
  position: relative;
}

@media only screen and (min-width: 200px) {
  .al-card {
    width: 330px;
    height: 330px;
    font-size: 40px;
    owerflow: auto;
    margin: 2px;
  }
}
@media only screen and (min-width: 350px) {
  .al-card {
    width: 320px;
    height: 330px;
    font-size: 40px;
    owerflow: auto;
    margin: 2px;
  }
}
@media only screen and (min-width: 460px) {
  .al-card {
    width: 450px;
    height: 330px;
    font-size: 40px;
    owerflow: auto;
    margin: 2px;
  }
}
