<mat-card class="al-card mat-elevation-z16">
  <mat-card-title>
    <ngx-avatar name="{{contact.firstName}} {{contact.lastName}}"></ngx-avatar>
  </mat-card-title>
  <mat-card-subtitle class="al-card-subtitle">{{contact.firstName}} {{contact.lastName}}</mat-card-subtitle>
  <mat-card-content class="al-card-content">
    <mat-icon>call</mat-icon>
    {{contact.telephone}}
    <br>
    <mat-icon>email</mat-icon>
    {{contact.email}}
    <br>
    <mat-icon>home</mat-icon>
    {{contact.city}}
    <br>
    <mat-icon>location_on</mat-icon>
    {{contact.address}}, {{contact.postalCode}}
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="space-around" class="al-card-actions" >
    <button mat-icon-button (click)="deleteContact()"><mat-icon>delete</mat-icon> </button>
    <button mat-icon-button (click)="editContact()"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button (click)="navigateToMap()"><mat-icon>place</mat-icon></button>
  </mat-card-actions>
</mat-card>

